@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Outfit", sans-serif;
  background-color: black;
}
.container{
  margin-left: 5%;
  margin-right: 5%;
}

.inner-container{
  width: 100%;
  margin-top: 100px;
}

.box-img{
  width: 80%;
  margin: 0 auto;
  border: 2px solid rgb(0, 255, 234);
  border-radius: 20px;
  overflow: hidden; 
}

.box-img img{
  width:100%;
  border-bottom: 5px dashed white;
  padding-bottom: 20px;
  margin-bottom: 20px;
}